* {
    margin: 0;
    padding: 0;
}

kbd {
    border: 1px solid red;
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 4px;
    text-transform: uppercase;
    position: relative;
}
kbd > button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover > button {
    display: inline-block;
}

main {
    text-align: center;
}

.wrapper {
    display: inline-block;
}

